*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
  text-decoration: none !important;
}

.container{
  width: 80%;
  margin: auto;
}
/* ====================================== #Header . =================== */
header{
  width: 100%;
  height: 70px;
  padding: 10px 0px;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 10px #9d9b9b;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content .brand{
  font-size: 32px;
  color: #fff;
}
  .header-content nav ul{
  display: flex;
  list-style: none;
}
nav li a {
  display: block;
  color: rgb(255, 255, 255);
  min-width: 70px;
  border-radius: 50px;
  padding: 5px;
  margin: 0px 5px;
}
.header-content nav ul li a:hover{
  color: #0d0c0c;
  background-color: #fff;
}
#user-info #user{
  display: block;
  margin-left: -15px;
}
#user-info{
  display: flex;
  flex-direction: row;
}
nav ul#user-info li i{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
nav ul#user-info li{
  margin: 0px 10px;
  position: relative;
}
nav ul#user-info li .badge , nav ul#user-info li .fav-badge{
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  text-align: center;
  display: block;
  top: -10px;
  right: -10px;
  font-size: 14px;
  display: none;
}
.search-box #search-input{
  width: 350px;
  height: 40px;
  border: none;
  outline: none;
  background-color: aliceblue;
  border-radius: 30px;
  color: #504d4d;
  font-size: 15px;
  text-align: center;
  position: relative;
}
.search-box button{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius:50%;
  border: none;
  position: absolute;
  margin-left: -40px;
  transform: scale(0.9);
  background-color: #53bd10;
}
.bar-icon{
  color: azure;
  cursor: pointer;
  display: none;
}
/* ============================= #Products Shopping-List . ==========================*/

.carts-products ,.fav-products{
  position: absolute;
  display: block;
  width: 250px !important;
  /* height: 600px; */
  max-height: 600px;
  margin-left: 100px;
  padding-bottom: 5px;
  overflow: auto;
  transform: translate(-40px,0);
  top: 60px;
  padding: 10px;
  border: 1px solid #c1bfbf;
  border-radius: 13px;
  opacity: 0.9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  display: none;
}

.carts-products h5 , .fav-products h5{
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2px;
}

.carts-products span , .fav-products span{
  position: absolute;
  margin-left: 7px;
  margin-top: 30px;
  /* margin-top: -30px; */
}

.carts-products a , .fav-products a{
  /* display: block; */
  color: #fff;
  margin: 13px 0px;
  text-align: center;
  background-color: rgb(9, 108, 102);
  transition: 0.5;
}
.carts-products a:hover , .fav-products a:hover{
  letter-spacing: 1px;
  background-color: #075678;
}
.carts-products #product-col ,.fav-products #product-col{
  width: 98%;
  height: 85px;
  margin-top: 10px;
  background-color: #b1b8ad;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.carts-products #product-col img , .fav-products #product-col img{
  width: 80px;
  height: 80px;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
/* ============================== #Product Card-Design . ============================*/
.product-item2{
  position: relative;
  width: 350px;
  height: 190px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  margin: 70px 50px ;
}
.product-item2:hover{
  height: 450px;
}
.product-img{
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden ;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
}
.product-img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-item2:hover .product-img{
  width: 250px;
  height: 250px;
}
.product-item2 .product-content{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.product-content .remove-btn {
background-color: red;
color: #fff;
transition: 0.5;
}
.product-content .remove-btn:hover{
  letter-spacing: 1px;
  transform: scale(1.1);
  background-color: red;
}
.product-content .product-desc{
  padding: 40px;
  text-align: center;
  width: 100%;
  transform: translateY(150px);
  transition: 0.5s;
}
.product-item2:hover .product-content .product-desc{
  transform: translateY(0px);
}
.product-content .product-desc h2{
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}
.product-content .product-desc h2 span{
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}
.product-data .fa-star{
  color: yellow;
}
.product-content .product-desc .product-data{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.product-content .product-desc .product-data h3{
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}
.product-data h3 span{
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}
.product-item-action{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.product-item-action button{
  padding: 10px 30px;
  border-radius: 5px;
  border: 0px solid ;
  background-color: aquamarine;
  color: #0d0c0c;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.product-item-action .del{
  background-color: red;
  color: #fff;
}
.product-item-action .del:hover{
  background-color: darkred;
  font-size: 16px;
}
.product-item-action .del:hover .fa-trash-can{
  color: red;
  font-size: 18px;
}
.product-item-action .removeBtn{
  background-color: red;
  color: #fff;
  display: none;
}
.product-item-action button,.product-item-action .removeBtn{
  transition: 1.5;
}
.product-item-action button:hover , .product-item-action .removeBtn:hover{
  /* color: #fff; */
  transform: scale(1.1);
  letter-spacing: 1px;
}
.piece-count{
font-size: 12px;
position: absolute;
/* display: block; */
right: 10px;
bottom: 10%;
}
/* ================================ #home . ================== */
.home{
  margin-top: 100px;
}
.products{
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
}
/* ================================ #Form . ================== */
.section-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18%;
  height: 400px;
  text-align: center;
  background-color: #9f9f9f;
  /* background-image: url(../images/login\ background.jpg); */
  padding: 20px;
  border: 1px solid #c1bfbf;
  border-radius: 13px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.section-form h2{
  margin-top: 50px;
  margin-bottom: 26px;
  font-size: 40px;
  letter-spacing: 2px;
  color: purple;
}
.section-form form input{
  display: block;
  width: 80%;
  margin: 15px 35px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 13px;
  padding: 5px 14px;
  outline: none;
}
.section-form input:focus{
  transform: scale(1.1);
}

.section-form form input[type="submit"]{
  transition: 0.5;
}
.section-form form input[type="submit"]:hover{
  background: purple;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
nav ul #user-info{
  display: none;
}
#user-info .user-image{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  /* display: flex; */
  float: left;
  margin-right: 6px;
  display: none;
}

/* ============================= #Footer . ==================== */
footer{
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: #9d9b9b;
  padding: 60px 10%;
  /* bottom: 0; */
  /* position: fixed; */
}
.footer-sec ul{
  list-style: none;
}
.footer-sec ul li {
  display:block;
}
.footer-sec{
  width: 25%;
}
.footer-sec h4{
  position: relative;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
  color: #0d0c0c;
}
.footer-sec ul li a{
  display: block;
  padding: 5px;
  margin: 0px 5px;
  font-size: 19px;
  transition: 0.4s;
  /* background-color: #0d0c0c; */
}
.footer-sec ul li a:hover{
  color: rgb(254, 255, 255);
  padding-left: 2px;
}
.footer-sec h2{
  font-size: 18px;
  color: #0d0c0c;
}
.footer-links a{
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #fff;
  background-color: #1089bd;
  margin: 0px 8px 8px 0px;
  text-align: center;
  line-height: 44px;
  transition: 0.4s;
}
.footer-links a:hover{
  color: #075678;
  background-color: #fff;
}
